<div class="">
  <div class="text-center">
      
        <input type="text" [(ngModel)]="txtFGValue" (blur)="onFGTextValueChange()">
    <button type="button"  (click)="onFGScan()" align="middle" class="btn btn-primary">Scan</button> </div>
    <p></p>
    <button  type="button"  (click)="onInsertRowPress()" align="middle" class="btn btn-primary">+</button>
    <kendo-grid [data]="gridData" [height]="410"
    (remove)="removeHandler($event)"
    (edit)="editHandler($event)"
    >
      <kendo-grid-column field="OPTM_SEQ" title="#" width="250">
      </kendo-grid-column>
      <kendo-grid-column field="OPTM_BTCHSERNO" title="FG Batch/Serial" width="250">
      </kendo-grid-column>
      <kendo-grid-column field="OPTM_QUANTITY" title="Quatity" width="250">
      </kendo-grid-column>
      <kendo-grid-column field="OPTM_REJECT" title="Reject" width="120">
          <ng-template kendoGridCellTemplate let-dataItem>
              <input type="checkbox" [checked]="dataItem.Discontinued"/>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="OPTM_NC" title="NC" width="120">
          <ng-template kendoGridCellTemplate let-dataItem>
              <input type="checkbox" [checked]="dataItem.Discontinued"/>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-command-column title="Actions">
          <ng-template kendoGridCellTemplate>
            <button kendoGridEditCommand class="k-primary">Edit</button>
            <button kendoGridRemoveCommand class="k-primary">Delete</button>
          </ng-template>
        </kendo-grid-command-column>
  </kendo-grid>
</div>

<div class="">
  <div class="text-center">
      
        <input type="text" [(ngModel)]="txtFGValue" (blur)="onFGTextValueChange()">
    <button type="button"  (click)="onFGScan()" align="middle" class="btn btn-primary">Scan</button> </div>
    <p></p>
    <button  type="button"  (click)="onInsertRowPress()" align="middle" class="btn btn-primary">+</button>
    <kendo-grid [data]="gridData" [height]="410"
    (remove)="removeHandler($event)"
    (edit)="editHandler($event)"
    >
      <kendo-grid-column field="OPTM_SEQ" title="#" width="250">
      </kendo-grid-column>
      <kendo-grid-column field="OPTM_BTCHSERNO" title="RM BatchSerial" width="250">
      </kendo-grid-column>
      <kendo-grid-column field="OPTM_QUANTITY" title="Quantity" width="250">
      </kendo-grid-column>` 
      <kendo-grid-column field="OPTM_REJECT" title="Reject" width="120">
          <ng-template kendoGridCellTemplate let-dataItem>
              <input type="checkbox" [checked]="dataItem.Discontinued"/>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="OPTM_NC" title="NC" width="120">
          <ng-template kendoGridCellTemplate let-dataItem>
              <input type="checkbox" [checked]="dataItem.Discontinued"/>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-command-column title="Actions">
          <ng-template kendoGridCellTemplate>
            <button kendoGridEditCommand class="k-primary">Edit</button>
            <button kendoGridRemoveCommand class="k-primary">Delete</button>
          </ng-template>
        </kendo-grid-command-column>
  </kendo-grid>
</div>
