#opti_QtylevelParentID{
    padding-top: 20px;
}

.opti_quantity-summary{
    margin-top: 5px;
    form{
        padding: 0;
        label.k-form-field{
            width: 19%;
            margin-right: 1%;
            .opti_form-label{
                font-size: 12px;
            }
        }
    }
}

button.opti_ok{
    margin-top: 23px !important;
}