
<div #qtylevel1 id="opti_QtylevelParentID"> 
    <kendo-grid 
    [data]="FGScanGridData" 
    [height]=gridHeight-56-200
    (remove)="removeHandler($event)"
    (edit)="editHandler($event)"
    [resizable]="false" 
    [pageSize]="50" 
    [pageable]="true" 
    [sortable]="true"  
    [filterable]="false"
    [groupable]="false" 
    >
      <ng-template kendoGridToolbarTemplate>
        <img src="assets/images/common/add.svg" class="opti_mouse-pointer float-right" (click)="showLevelChildSuperChild()" width="20px" height="20px">
        <h5>Finished Goods List</h5>
        <!-- &nbsp;
        <span class="text-center">
            <input type="text" [(ngModel)]="txtFGValue" (blur)="onFGTextValueChange()">
            <button type="button"  (click)="onFGScan()" align="middle" class="btn btn-primary">Scan</button> 
        </span> -->
      </ng-template>  

      <kendo-grid-column field="OPTM_SEQ" title="#"  width="100" [hidden]="true"></kendo-grid-column>
      <kendo-grid-column field="OPTM_BTCHSERNO" title="FG Batch/Serial" width="120"></kendo-grid-column>
      <kendo-grid-column field="OPTM_QUANTITY" title="Quantity"  width="120"></kendo-grid-column>
      <kendo-grid-column field="OPTM_REJECT" title="Reject"  width="80">
          <ng-template kendoGridCellTemplate let-dataItem>
              <input type="checkbox" disabled [checked]="dataItem.OPTM_REJECT"/>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="OPTM_NC" title="NC"  width="80">
          <ng-template kendoGridCellTemplate let-dataItem>
              <input type="checkbox" disabled  [checked]="dataItem.OPTM_NC"/>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-command-column title="Actions" width="80">
          <ng-template kendoGridCellTemplate>
            <button kendoGridEditCommand class="k-primary" *ngIf="showEditBtn">Edit</button>
            <button kendoGridRemoveCommand class="k-primary">Delete</button>
          </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>
     
     <br>

     <div class="opti_quantity-summary">
            <form class="k-form float-right col-md-5 ">
                <label class="k-form-field">
                    <span class="opti_form-label">Balance Qty</span>
                    <input type="text" class="k-textbox" value="{{lblBalQty}}" disabled>
                </label>
        
                <label class="k-form-field">
                        <span class="opti_form-label">Accepted Qty</span>
                        <input type="text" class="k-textbox" value="{{lblAcceptedQty}}" disabled>
                </label>
        
                <label class="k-form-field">
                        <span class="opti_form-label">Rejected Qty</span>
                        <input type="text" class="k-textbox" value="{{lblRejectedQty}}" disabled>
                </label>
        
                <label class="k-form-field">
                        <span class="opti_form-label">NC Qty</span>
                        <input type="text" class="k-textbox" value="{{lblNCQty}}" disabled>
                </label>
        
                <label class="k-form-field">
                        <span class="opti_form-label">NC Qty</span>
                        <input type="text" class="k-textbox" value="{{lblNCQty}}" disabled>
                </label>
            </form>
     </div>


     <!-- <table class="table table-bordered">
        <tr>
            <th scope="row">Balance Qty</th>
            <th scope="row">Accepted Qty</th>
            <th scope="row">Rejected Qty</th>
            <th scope="row">NC Qty</th>
        </tr>
        <tbody>
            <tr>
                <td>{{lblBalQty}}</td>
                <td>{{lblAcceptedQty}}</td> 
                <td>{{lblRejectedQty}}</td>
                <td>{{lblNCQty}}</td>
            </tr>
        </tbody>
    </table>  -->
</div>

<section #qtylevelChildSuperchild id="opti_QtylevelChildSuperChildID">
    <!-- <app-fgrmscanparentinputform [basicFGInputForm]="basicDetailsToFGParentInput" *ngIf=showFGRMScanParentInsertPopup></app-fgrmscanparentinputform> -->
    <app-fgrmscanparentinputform [basicFGInputForm]="basicDetailsToFGParentInput"></app-fgrmscanparentinputform>
</section>


