 <!-- loader start -->
 <div class="opti_loader" *ngIf="showLoader">
        <div class="opti_spinner"></div>
    </div>
<!-- loader end -->
<div #qtylevel1 id="opti_QtylevelParentID"> 
    <kendo-grid 
    [data]="FGScanGridData" 
    [height]=gridHeight-56-62
    (remove)="removeHandler($event)"
    (edit)="editHandler($event)"
    [resizable]="false" 
    [pageSize]="50" 
    [pageable]="true" 
    [sortable]="true"  
    [filterable]="false"
    [groupable]="false" 
    >
      <ng-template kendoGridToolbarTemplate>
        <img src="assets/images/common/add.svg" class="opti_mouse-pointer float-right" (click)="showLevelChildSuperChild()" width="20px" height="20px">
        <h5>{{language.finishedgoodslist}}</h5>
        
      </ng-template>  

      <kendo-grid-column field="OPTM_SEQ" title="#"  width="100" [hidden]="true"></kendo-grid-column>
      <kendo-grid-column field="OPTM_BTCHSERNO" title="{{language.fgbatchserial}}" width="120"></kendo-grid-column>
      <kendo-grid-column field="OPTM_QUANTITY"  title="{{language.quantity}}"  width="120" class="text-right"></kendo-grid-column>
      <kendo-grid-column field="OPTM_REJECT" title="{{language.reject}}"  width="80">
          <ng-template kendoGridCellTemplate let-dataItem>
              <input type="checkbox" disabled [checked]="dataItem.OPTM_REJECT"/>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="OPTM_NC" title="{{language.nc}}"  width="80">
          <ng-template kendoGridCellTemplate let-dataItem>
              <input type="checkbox" disabled  [checked]="dataItem.OPTM_NC"/>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-command-column title="{{language.actions}}" width="150">
          <ng-template kendoGridCellTemplate>
            <button kendoGridEditCommand class="k-primary" *ngIf="showEditBtn">{{language.edit}}</button>
            <button kendoGridRemoveCommand class="k-primary">{{language.delete}}</button>
          </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>
     
    
    <div class="row">
     <div class="opti_quantity-summary col-md-12 col-lg-10">
            <form class="k-form float-right">
                <label class="k-form-field">
                        <span class="opti_form-label">{{language.producedqty}}</span>
                        <input type="text" style="text-align: right;" class="k-textbox" value="{{lblProducedQty}}" disabled>
                </label>

                <label class="k-form-field">
                    <span class="opti_form-label">{{language.balancequantity}}</span>
                    <input type="text" style="text-align: right;" class="k-textbox" value="{{lblBalQty}}" disabled>
                </label>
        
                <label class="k-form-field">
                        <span class="opti_form-label">{{language.acceptedqty}}</span>
                        <input type="text" style="text-align: right;" class="k-textbox" value="{{lblAcceptedQty}}" disabled>
                </label>
        
                <label class="k-form-field">
                        <span class="opti_form-label">{{language.rejectedqty}}</span>
                        <input type="text" style="text-align: right;" style="text-align: right;" class="k-textbox" value="{{lblRejectedQty}}" disabled>
                </label>
        
                <label class="k-form-field">
                        <span class="opti_form-label">{{language.ncqty}}</span>
                        <input type="text" style="text-align: right;" class="k-textbox" value="{{lblNCQty}}" disabled>
                </label>
            </form>
     </div>

     <div class="text-right col-md-12 col-lg-2">
            <button type="button" (click)="onOKPress()" class="k-button k-primary opti_ok">{{language.ok}}</button>
     </div>
    </div> 

</div>

<section #qtylevelChildSuperchild id="opti_QtylevelChildSuperChildID">
    <app-fgrmscanparentinputform *ngIf="showFGInputForm" 
    [basicFGInputForm]="basicDetailsToFGParentInput" 
    [rowDataFrmFGWithScan]="rowDataForEdit" [FGWithScanGridFrmMaster]="FGScanGridData" 
    (messageEvent)="receiveMessage($event)"></app-fgrmscanparentinputform>
</section>


