<section id="opti_TopBarID">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <!-- this logo only for mobile -->
            <img src="assets/images/logo/mobile-logo.svg" alt="Logo" class="opti_mouse-pointer float-left" width="80" height="65" />
            <!-- ebd this logo only for mobile -->

            

            <!-- Top Right Section -->
            <div class="opti_topbar-rightpanel float-right">
                <div class="opti_vertical-align">
                    <ul class="opti_display-inline-flex">
                        <li class="opti_icon-spacing opti_user-profile opti_position-relative" dropdown>
                            <a dropdownToggle class="dropdown-toggle"><img src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png" class="opti_mouse-pointer opti_theme-setting" alt="User Profile" width="30" height="30" /></a>
                            <ul class="dropdown-menu opti_user-profile-drop-down" *dropdownMenu>
                                <li>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="opti_profile-box">
                                                    <div class="opti_profile-box-img">
                                                        <img src="https://wrappixel.com/demos/admin-templates/material-pro/assets/images/users/1.jpg" alt="user image" width="80">
                                                    </div>
                                                    <div class="opti_profile-box-text">
                                                        <h5>{{userName}}</h5>
                                                        <p>{{selectedCompany}}</p>
                                                        <p>Short Description</p>
                                                        <p class="opti_profile-para">
                                                            <!-- <span class="btn btn-rounded btn-danger btn-sm">View Profile</span> -->
                                                            <button class="k-button">View Profile</button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>            
                                </li>
                                
                                <li class="opti_seprator"></li>
                                
                                <li class="opti_mouse-pointer opti_profile-box-setting">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <img src="assets/images/common/settings-black.svg" width="20px" height="20px">Setting
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                
                                <li class="opti_seprator"></li>

                                <li class="opti_mouse-pointer opti_profile-box-logout">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12"(click)="signOut()" >
                                                <img src="assets/images/common/logout.svg" width="20px" height="20px" />LogOut
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>    
            </div>    

        </div>
    </div>
  </div>
</section>
