 <!-- loader start -->
 <div class="opti_loader" *ngIf="showLoader">
        <div class="opti_spinner"></div>
    </div>
<!-- loader end -->

<div class="container-fluid opti_padding-zero">
    <div class="row">
        <div class="col-md-12">
            <form class="k-form" >
                <label class="k-form-field">
                    <span class="opti_form-label">FG Batch Serial</span> 
                    <span class="float-left opti_fgbatch-serial"><input type="text" class="k-textbox" id="FgBatchSerialID" [(ngModel)]="psBatchSer" (blur)="onBatchSerBlur()" [disabled]="bIsInEditMode" name="psBatchSer" /></span>
                    <span class="opti_fgbatch-serial-icon">         
                        <img src="assets/images/common/scanner.svg"  id="scanFgBatchSerialId" class="opti_mouse-pointer" width="27px" height="27px">
                    </span>
                    <span *ngIf="bIfBatSerEmpty" class="float-right opti_error-msg"> FG Batch/Serial can't be empty </span>
                </label>

                <label class="k-form-field">
                    <span class="opti_form-label">Qty</span>
                    <input type="text" style="text-align: right;" class="k-textbox" [(ngModel)]="iQty" (blur)="onQtyBlur()" [disabled]="isQtyDisabled" name="iQty" />
                    <span *ngIf="bIfQtyIsZero" class="float-right opti_error-msg"> Quantity can't be blank or zero </span>
                </label>

                <div class="k-form-field">
                    <input type="checkbox" class="k-checkbox" [(ngModel)]="bIsRejected" (change)="onIsRejectedCheck()" name="bIsRejected" id="opti_bIsInEditModeID">
                    <label class="k-checkbox-label" for="opti_bIsInEditModeID">Rejected</label>

                    <input type="checkbox" class="k-checkbox" [(ngModel)]="bIsNC" (change)="onIsNCCheck()" name="bIsNC" id="opti_bIsNCID"/>
                    <label class="k-checkbox-label" for="opti_bIsNCID">NC Qty</label>

                    <span *ngIf="bothSelectionRestrict" class="float-right opti_error-msg"> FG can either be Rejected or NC </span>
                </div>
              

                <div class="text-right">
                    <button type="button" class="k-button k-primary" (click)="onAddPress()" >Save</button>
                    <button type="button" class="k-button" (click)="onClosePress()">Close</button> 
                </div>
            </form>
        </div>    
    </div>
</div>  