<div class="container">
  <p></p>
  <form>
    <div class="form-group">
      <label for="usr">Name:</label>
      <input name="id" ng-change="GetCompany()"  [(ngModel)]="loginId" type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input name="pwd" [(ngModel)]="password" type="password" class="form-control" id="pwd">
    </div>

    <button (click)="onConnectClick()" align="center" type="button" class="btn btn-primary">{{connentLbl}}</button>
    
    <div class="form-group" >
    <select class="selectpicker"  (change)="onCompanyChange($event)" *ngIf="showCompCombo">
      <option selected="" value=""></option>  
      <option [ngValue]="i.OPTM_COMPID" *ngFor="let i of companies;" >{{i.OPTM_COMPID}}</option>  
    </select>
    </div>
    
    <button (click)="onLoginClick()" align="center" type="button" class="btn btn-primary" *ngIf="showLoginBtn" >{{loginLbl}}</button>
   
  </form>
</div>
