<div id="opti_signinID" class="opti_account-submodule-wrapper">
    <div class="float-left opti_account-banner-section">
    </div>

    <div class="float-right opti_account-form-section">
        <div class="opti_outer-login-form opti_account-submodule-container">
            <div class="opti_vertcal-align-outer-box">
                <div class="panel-body opti_position-relative" [perfectScrollbar]="">

                    <!-- loader start -->
                    <div class="opti_loader" *ngIf="showLoader==true">
                        <div class="opti_spinner"></div>
                    </div>
                    <!-- loader end -->

                    <div class="opti_fullwidth text-center opti_signin-logo">
                        <img src="assets/images/logo/large-logo.png" alt="brandlogo" class="opti_account-logo">
                    </div>

                    <form class="k-form" #signInForm="ngForm">
                        <label class="k-form-field">
                            <span class="opti_form-label">
                                Name *
                            </span>
                          
                            <input name="id" required #name = ngModel  ng-change="GetCompany()" [(ngModel)]="loginId" type="text" class="k-textbox" id="usr" placeholder="Id">
                            <span *ngIf="name.errors?.required && name.touched" class="float-right opti_error-msg"> Username Required </span>
                            
                        </label>

                        <label class="k-form-field">
                            <span class="opti_form-label">
                                Password *
                            </span>
                            <input name="pwd" required #PasswordBlank = ngModel   [(ngModel)]="password" type="password" class="k-textbox" id="pwd" (blur)="onPasswordBlur()" placeholder="Your password">
                            <span *ngIf="PasswordBlank.errors?.required && PasswordBlank.touched" class="float-right opti_error-msg">  Password required  </span>
                        </label>

                        <label class="k-form-field">
                            <span class="opti_form-label">
                                Company *
                            </span>
                            <kendo-dropdownlist [disabled]="hasCompaneyData==false" [textField]="'OPTM_COMPID'" [valueField]="'OPTM_COMPID'" [data]="listItems"
                                name="listname" [(ngModel)]="selectedValue" (selectionChange)="onCompanyChange($event)"></kendo-dropdownlist>
                        </label>

                        <div class="text-right">

                            <button (click)="onLoginClick()" [disabled]="disableLoginBtn" align="center" type="button" class="opti_fullwidth">Login</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


</div>