<kendo-grid #grid
          [data]="view | async"
          [height]="533"
          [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
          [pageable]="true" [sortable]="true"
          (dataStateChange)="onStateChange($event)"
          (cellClick)="cellClickHandler($event)"
          (cellClose)="cellCloseHandler($event)"
          (cancel)="cancelHandler($event)"
          (save)="saveHandler($event)"
          (remove)="removeHandler($event)"
          (add)="addHandler($event)"
          [navigable]="true"
        >
        <ng-template kendoGridToolbarTemplate>
            <button kendoGridAddCommand>Add new</button>
            <button class='k-button' [disabled]="!editService.hasChanges()" (click)="saveChanges(grid);">Save Changes</button>
            <button class='k-button' [disabled]="!editService.hasChanges()" (click)="cancelChanges(grid);">Cancel Changes</button>
        </ng-template>
        <kendo-grid-column field="serNo" title="Serial No."></kendo-grid-column>
        <kendo-grid-column field="Serial" title="Serial"></kendo-grid-column>
        <kendo-grid-column field="Qty" editor="boolean" title="Qty"></kendo-grid-column>
        <kendo-grid-column field="Reject" editor="numeric" title="Reject"></kendo-grid-column>
        <kendo-grid-column field="NC" editor="numeric" title="NC"></kendo-grid-column>
        <kendo-grid-command-column title="command" width="220">
            <ng-template kendoGridCellTemplate let-isNew="isNew">
                <!-- <button kendoGridRemoveCommand>Remove</button> -->
                <button kendoGridSaveCommand>Add</button>
                <button kendoGridCancelCommand>Cancel</button>
            </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>