body{

    //
    .opti_margin-zero{
        margin: 0 !important;
    }

    .opti_padding-zero{
        padding: 0;
    }

    .opti_border-none{
        border: none;
    }

    .opti_fullwidth{
        width: 100%;
    }

    // css for form label
    .opti_form-label{
      font-size: 15px;
      margin-bottom: 0 !important;
      font-weight: normal;
    }
  
    // Loader
    .opti_loader {
      position: absolute;
      background: rgba(255,255,255,0.8);
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 99;
  
        @extend .opti_vertical-align;
        .opti_spinner {
            border: 3px solid #c7c7c7;
            border-radius: 50%;
            border-top: 3px solid;
            border-top-color: #3498db;
            width: 25px;
            height: 25px;
            -webkit-animation: spinloader 0.5s linear infinite; /* Safari */
            animation: spinloader 0.5s linear infinite;
            margin: 0 auto;
        }
        
        /* Safari */
        @-webkit-keyframes spinloader {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }
        
        @keyframes spinloader {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }
    
    // password indicator
        // .opti_password-indicator-stripped{
        //   height: 4px;
        //   overflow: hidden;
        //   background-color: #c7c7c7;
        //   border-radius: 5px;
        //   -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        //   box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        //   margin-top: 8px !important;
        //   .opti_weak-pass{
        //       @include password-mg-indicator(40%, #d9534f)
        //   }
        //   .opti_medium-pass{
        //       @include password-mg-indicator(60%, #f0ad4e)
        //   }
        //   .opti_strong-pass{
        //       @include password-mg-indicator(80%, #5cb85c)
        //   }
        //   .opti_strong-pass-full{
        //       @include password-mg-indicator(100%, #5cb85c)
        //   }
        // }
  
    // Remove button css
    button.opti_remove-button-css{
      border: none;
      background: none;
    }
  
    // Error css
    .opti_error-msg{
      color: $error !important;
      font-size: 12px;
    }
  
    // List style 1 using in left panel
    // ul.opti_liststyle-one-ul{
    //   .opti_liststyle-one-li{
    //       display: flex;
    //       padding: 10px 15px;
    //       border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    //       cursor: pointer;
       
    //       img{
    //           border-radius: 50%;
    //       }
    //   }
    // }
  
    //Default Styling For List
    ul{
      padding: 0;
      margin: 0;
      li.opti_list{
          padding: 10px 15px;
          border-bottom: 1px solid rgba(120, 130, 140, 0.13);
          cursor: pointer;
      }
    }
  
    ul{
      li{
          list-style: none;
      }
    }
  
    // Content Padding
    .opt_content-padding{
      padding-top: 15px;
      padding-bottom:15px;
    }
  
    // Default Top Bar Height
    .opt_top-bar-height{
      height: $top-bar-height;
    }
  
    // Icon spacing
    .opti_icon-spacing{
      padding: 0 10px;
    }
    .opti_icon-spacing:first-child{
      padding: 0 10px 0 0;
    }
    .opti_icon-spacing:last-child{
      padding: 0 0 0 10px;
    }
  
    // Position Relative
    .opti_position-relative{
      position: relative;
    }
  
    // Display Inline
    .opti_display-inline{
      display: inline;
    }
  
    // Display Inline Block
    .opti_display-inline-block{
      display: inline-block;
    }
  
    // Display Inline Flex
    .opti_display-inline-flex{
      display: inline-flex;
    }
  
    // Anchor Pointer
    .opti_mouse-pointer{
      cursor: pointer;
    }
  
    // prevent to increase size of scrollbar
    .ps__rail-y{
      width: 6px !important;
      .ps__thumb-y{
        width: 6px !important;
      }
    }

    .ps__rail-x{
        height: 6px !important;
        .ps__thumb-x{
            height: 6px !important;
        }
    }

    //our custom tab
        .opti_tab-outer{
            //width: calc(100% - 35px);

            // new design tab start
                // ul.tabs{
                //     margin: 0;
                //     list-style-type : none;
                //     line-height : 35px;
                //     max-height: 35px;
                //     overflow: hidden;
                //     display: inline-block;
                // }
                // ul.tabs > li.active{
                //     z-index: 2;
                //     a{
                //         color: $white;
                //     }
                // }
                // ul.tabs > li:hover a{
                //     color: $white;
                // }
                // ul.tabs > li.active:before{
                //     border-color : transparent transparent transparent transparent;
                //   }
                //   ul.tabs > li.active:after{
                //     border-color : transparent transparent transparent transparent;
                //   }
                // ul.tabs > li:last-child:after{
                //     border-color : transparent transparent transparent transparent;
                // }
                // ul.tabs > li:first-child{margin-left: -5px;}
                // ul.tabs > li{
                //     float : left;
                //     margin : 5px -10px 0;
                //     border-top-right-radius: 25px 170px;
                //     border-top-left-radius: 20px 90px;
                //     padding : 0 35px 0 27px;
                //     height: 170px;
                //     background: #f2f3dd;
                //     position : relative;
                //     max-width : 200px;
                // }
                // ul.tabs > li > a{
                //     display: inline-block;
                //     max-width:100%;
                //     overflow: hidden;
                //     text-overflow: ellipsis;
                //     text-decoration: none;
                //     color: $light-black;
                // }
                // ul.tabs > li:before, ul.tabs > li:after{
                //     content : '';
                //     background : transparent;
                //     height: 20px;
                //     width: 20px;
                //     border-radius: 100%;
                //     border-width: 10px;
                //     top: 0px;
                //     border-style : solid;
                //     position : absolute;
                // }
                // ul.tabs > li:before{
                //     border-color : transparent transparent transparent transparent;
                //     -webkit-transform : rotate(48deg);
                //     left: 0px;
                // }
                // ul.tabs > li:after{
                //     border-color : transparent transparent transparent transparent;
                //     -webkit-transform : rotate(-48deg);
                //     right: 0px;
                // }
                // .clearfix:before, .clearfix:after { content: ""; display: table; }
                // .clearfix:after { clear: both; }
                // .clearfix { zoom: 1; }
            // end new design tab


            // .opti_tab {
            //     overflow: hidden;
            //     border: 1px solid #ccc;
            //     .opti_tablinks{
            //         cursor: pointer;
            //     }
            // }

        }   
    
        /* Style the tab content */
        .opti_tabcontent {
            display: none;
            padding: 6px 12px;
            border-top: none;
            height: calc(100% - 50px);
        }

        // grid toolabr
        kendo-grid-toolbar.k-header.k-grid-toolbar {
            .k-form.opti_show-hide-grid-column-filter{
                padding: 7px 0 0 20px;
                .k-form-field{
                    margin-bottom: 0 !important;
                    .k-checkbox-label{
                        margin-right: 15px;
                    }
                }
            }
            
            .opti_grid-toolbar-excelbutton{
                background: transparent !important;
                margin-top: 2px !important;
                .k-i-file-excel {
                    display: none;
                }
            }

            .opti_grid-toolbar-excelbutton.k-button:focus{
                box-shadow: none;
            }
        }

        // svg icon with k-button
        svg-icon.k-button {
            padding: 0;
            margin: 0;
            background: transparent !important;
            border: none;
        }

        // note section start
            // .opti_note-msg{
            //     font-weight: 500;
            //     font-size: 15px;
            // }
            // tr:hover .opti_note-action-button-sec svg-icon svg {
            //     fill: $white !important;
            // }

        // item tab 
        .opti_items-upload .k-upload-files {
            min-height: 130px;
            overflow-y: auto;
            height: 130px;
        }

    // Common Search
    .opti_common-search-form {
        .k-form-field.opti_common-search-label{
            float: left;
            margin: 0 !important;
            margin-bottom: 0 !important;
            border: 1px solid $input-border-color;
            border-radius: 5px;
            padding-right: 10px;
            padding-top: 1px;
            padding-bottom: 1px;
            input{
                width: 148px;
                float: left;
                border: none;
                border-radius: 5px;
                border: none !important;
            }
            span{
                float: left;
                height: 27px;
                margin: 0 !important;
                display: flex;
            }
        }
    }

    // input type disabled
    input:disabled {
        background: rgba(33, 37, 41, 0.15);
    }

    // Border for input type
    .k-autocomplete, 
    .k-combobox .k-dropdown-wrap, 
    .k-datepicker .k-picker-wrap, 
    .k-timepicker .k-picker-wrap, 
    .k-datetimepicker .k-picker-wrap, 
    .k-dateinput .k-dateinput-wrap, 
    .k-input, .k-textbox, 
    .k-textarea, 
    .k-input.k-textbox,
    .k-multiselect-wrap, 
    .k-numerictextbox .k-numeric-wrap{
        border: 1px solid $input-border-color !important;
    }

    // css for label
    label.k-form-field {
        float: left;
        width: 100%;
    }
        
}