@import '_base';

// 1. Layout CSS
// 2. Top Bar CSS

////////////////////////////////////////////////////////////////
/////////////////////1. Layout css//////////////////////////////
////////////////////////////////////////////////////////////////
#opti_WrapperID{
    display: flex;
    align-items: stretch;

    // Css Related To Left Panel
        // #opti_LeftPanelID{
        //     min-width: 260px;
        //     max-width: 260px;
            
        // }

        // #opti_LeftPanelID.opti_sidebar-minimize {
        //     min-width: 80px;
        //     max-width: 80px;
            
        // }
        
        // #opti_LeftPanelID{
        //     height: 100vh;
        // }
        
        // .opti_left-navigation{
        //     max-height: calc(100% - 200px); // rigt now 200 is random
        //     overflow-y: auto;
        //     margin: 10px;
        //     height: auto;
        //     border-radius: 5px;
        // }
    
    // Css Related To Right Content Area
        // width after close sidebar
        // #opti_RightPanelID.opti_sidebar-minimize { 
        //     width: calc(100% - 80px);
        // }

        // width after open sidebar
        // #opti_RightPanelID{ 
        //     width: calc(100% - 260px);
        // }

        #opti_RightPanelID{
            height: 100vh;
        }

    // CSS Related To Main Content Section
        #opti_MainContentID {
            // height: calc(100% - 65px); // top bar height 65px
            overflow-y: auto;
        }

    // Css Related To top panel
        section#opti_TopBarID {
            min-height: $top-bar-height;
        }

    //Opti right section 
    .opti_right-fix-section {
        position: fixed;
        right: 0;
        background: $white;
        width: 45%;
        height: calc(100% - 65px);
        top: 65px;
        max-width: 100%;
        z-index: 999999;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        

        // tab section under right section
        // .opti_tab {
        //     border: none;
        //     button{
        //         border-radius: 0;
        //     }
        // }

        // .opti_tabcontent{
        //     padding: 15px 0;
        //     height: calc(100% - 30px);
        //     border-top: 1px solid #c7c7c7;
        // }

        // .opti_close-icon-right-section{
        //     display: inline-flex !important;
        //     height: 30px;
        //     width: 30px;
        //     cursor: pointer;
        // }
    }    
}

////////////////////////////////////////////////////////////////
/////////////////////2. Top Panel /////////////////////////////
////////////////////////////////////////////////////////////////

// if left panel close
#opti_RightPanelID.opti_sidebar-minimize{ // .opti_sidebar-minimize can't access this class in top.component that's why we are using here
    // #sidebarCollapse{
    //     .opti_backarrow{
    //         display: none;
    //     }
    //     .opti_hamburger{
    //         display: block;
    //     }
    //     .opti_mobile-menu-icon{
    //         display: none;
    //     }
    // }
}

// Default theme color
// if we will add this css in top bar than background color will not change from theme file becuase it will take high prioraty that's why i add here
section#opti_TopBarID{ 
    background: linear-gradient(177deg, #483DF6 2%, #435EF8 10%, #1BA0F1 44%, #25DDF5 91%, #45D790 130%);
}
  
// .opti_left-navigation {
//     box-shadow: 0px 1px 15px #1fa2ff;
// }

body kendo-grid {
    box-shadow: none !important;
}