 <!-- loader start -->
 <div class="opti_loader" *ngIf="showLoader">
        <div class="opti_spinner"></div>
    </div>

    
<kendo-grid [data]="dataBind" 
[scrollable]="'scrollable'"
[height]="height"
[selectable]="true"
[sortable]="{ mode: 'multiple' }"
[resizable]="false" 
[pageSize]="1000" 
[pageable]="true" 
[filterable]="false"
[groupable]="false"
[selectable]="selectableSettings"  >
        <kendo-grid-column field="WorkOrder No" title="WorkOrder No" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="Product Id" title="Product Id" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="Start Date" title="Start Date" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="End Date" title="End Date"width="100">
        </kendo-grid-column>

<kendo-grid-column  width="20">


        <ng-template  kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">    
                <button  (click)="onRowBtnClick($event, rowIndex)" class="gridCell">Select  
               </button>
               <!-- <div (click)="onRowClick($event, rowIndex)" class="gridCell">  
               </div> -->
        </ng-template>

</kendo-grid-column>
    </kendo-grid>


    <!-- sWorkOrderLookupColumns = ["WorkOrder No", "Product Id", "Start Date", "End Date"]; -->