body.opti_account-module {
    .opti_account-banner-section{
        background-position: -423px center;
    }
}

// summary 
#opti_QtyFGScanID .opti_quantity-summary form label.k-form-field {
    width: 100%;
    margin-right: 0;
}

#opti_QtylevelParentID .opti_quantity-summary form label.k-form-field {
    width: 100%;
    margin-right: 0;
}