<!-- <div class="">
  <p></p>
  <form>
      <table class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row">Sch# Start Date</th>
              <td>{{oWODetails.U_O_STARTDATE | date: 'MM/dd/yyyy' }}</td>
            </tr>
            <tr>
              <th scope="row">Sch# End Date</th>
              <td>{{oWODetails.U_O_ENDDATE | date: 'MM/dd/yyyy' }}</td>
              
            </tr>
            <tr>
              <th scope="row">SO#</th>
              <td>{{oWODetails.U_O_SONO }}</td>
            </tr>

            <tr>
                <th scope="row">Customer</th>
                <td>{{oWODetails.U_O_CUSTCODE }}</td>
              </tr>

              <tr>
                  <th scope="row">Product</th>
                  <td>{{oWODetails.U_O_PRODID }}</td>
                </tr>
          </tbody>
        </table>

        
      </form>
</div> -->


<div class="" id="opti_workOrderDetailID">
  <div class="container-fluid opti_padding-zero">
    <div class="row">
      <div class="col-md-12">
          <form class="k-form col-md-12">
              <label class="k-form-field">
                <span class="opti_form-label">Sch# Start Date</span>
                <input type="text" class="k-textbox" value="{{ oWODetails.U_O_STARTDATE | date: 'MM/dd/yyyy' }}" disabled>
              </label>
              
              <label class="k-form-field">
                <span class="opti_form-label">Sch# End Date</span>
                <input type="text" class="k-textbox" value="{{ oWODetails.U_O_ENDDATE | date: 'MM/dd/yyyy' }}" disabled>
              </label>
              
              <label class="k-form-field">
                <span class="opti_form-label">SO#</span>
                <input type="text" class="k-textbox" value="{{ oWODetails.U_O_SONO }}" disabled>
              </label>

              <label class="k-form-field">
                <span class="opti_form-label">Customer</span>
                <input type="text" class="k-textbox" value="{{ oWODetails.U_O_CUSTCODE }}" disabled>
              </label>

              <label class="k-form-field">
                <span class="opti_form-label">Product</span>
                <input type="text" class="k-textbox" value="{{ oWODetails.U_O_PRODID }}" disabled>
              </label>
          </form>
      </div>
    </div>
  </div>  
</div>    
