 <!-- loader start -->
 <div class="opti_loader" *ngIf="showLoader">
            <div class="opti_spinner"></div>
        </div>
    <!-- loader end -->
<form class="k-form col-md-12 col-sm-12 col-xs-12" >
      <label class="k-form-field opti_item-code-superchild">
            <span class="opti_form-label">{{language.itemcode}}</span>
            <span class="float-left opti_fgbatch-serial"><input type="text" class="k-textbox" [(ngModel)]="psChildCompItemCode" (blur)="onChildCompItemBlur()" id="psChildCompItemCodeID" name ="psChildCompItemCodeName" [disabled]="bIsInEditMode"></span> 
            <span class="opti_fgbatch-serial-icon">
                  <img src="assets/images/common/scanner.svg" id="ItemCodeScan" (click)="onFGScan()" class="opti_mouse-pointer" width="27px" height="27px">
            </span>
            <span *ngIf="bIsChildItemCodeEmpty" class="float-right opti_error-msg"> {{language.itemnotempty}} </span>

      </label>

      <label class="k-form-field">
            <span class="opti_form-label">{{language.rmbatchserial}}</span>
            <input type="text" class="k-textbox"  [(ngModel)]="psChildCompBatchSer" (blur)="onChildCompBatchSerBlur()" id="psChildCompBatchSerID" name="psChildCompBatchSerName" [disabled]="bIsInEditMode || bIsChildItemCodeEmpty || disableChildBatSerEmpty">
            <span *ngIf="bIsChildBatSerEmpty" class="float-right opti_error-msg"> {{language.itembtchsernotempty}}</span>
      </label>

      <label class="k-form-field">
            <span class="opti_form-label">{{language.qty}}</span>
            <input type="number" style="text-align: right;" class="k-textbox" [(ngModel)]="iQty" id="iQtyID" name="iQyName" [disabled]="bIsChildItemCodeEmpty || disableQtyField" (blur)="onQuantityBlur()">
            <span *ngIf="bIsQtyIsZero" class="float-right opti_error-msg"> {{language.qtygreaterthanzero}} </span>
      </label>

      <div class="text-left">
            <button align="center" type="button" align="middle" class="k-button k-primary" (click)="onRMAddRowPress()">{{language.add}}</button>
            <button align="center" type="button" align="middle" class="k-button" (click)="showLevelChild()">{{language.cancel}}</button>
      </div> 
</form>            