 <!-- loader start -->
 <div class="opti_loader" *ngIf="showLoader">
            <div class="opti_spinner"></div>
        </div>
    <!-- loader end -->
<form class="k-form col-md-12 col-sm-12 col-xs-12" >
      <label class="k-form-field opti_item-code-superchild">
            <span class="opti_form-label">Item Code</span>
            <!-- <input type="text" width="50" class="k-textbox" class="k-textbox" value = "" [(ngModel)]="psChildCompItemCode" (blur)="onChildCompItemBlur()" id="psChildCompItemCodeID" name="psChildCompItemCodeName">
            <img src="assets/images/common/scanner.svg" (click)="onFGScan()" class="opti_mouse-pointer" width="27px" height="27px"> -->

            <span class="float-left opti_fgbatch-serial"><input type="text" class="k-textbox" [(ngModel)]="psChildCompItemCode" (blur)="onChildCompItemBlur()" id="psChildCompItemCodeID" name ="psChildCompItemCodeName" [disabled]="bIsInEditMode"></span> 
            <span class="opti_fgbatch-serial-icon">
                  <img src="assets/images/common/scanner.svg" id="ItemCodeScan" (click)="onFGScan()" class="opti_mouse-pointer" width="27px" height="27px">
            </span>


      </label>

      <label class="k-form-field">
            <span class="opti_form-label">RM Batch Serial</span>
            <input type="text" class="k-textbox"  [(ngModel)]="psChildCompBatchSer" (blur)="onChildCompBatchSerBlur()" id="psChildCompBatchSerID" name="psChildCompBatchSerName" [disabled]="bIsInEditMode">
      </label>

      <label class="k-form-field">
            <span class="opti_form-label">Qty</span>
            <input type="text" style="text-align: right;" class="k-textbox" [(ngModel)]="iQty" id="iQtyID" name="iQyName">
      </label>

      <div class="text-left">
            <button align="center" type="button" align="middle" class="k-button k-primary" (click)="onRMAddRowPress()">Add</button>
            <button align="center" type="button" align="middle" class="k-button" (click)="showLevelChild()">Cancel</button>
      </div> 
</form>            