 // body.opti_body-move-order.opti_account-module .opti_account-banner-section, body.opti_body-move-order.opti_account-module .opti_account-form-section {
//     height: calc(100vh - 105px) ;
// }

// body.opti_body-move-order.opti_account-module #opti_MainContentID {
//     padding: 20px;
// }

        
//////////////////////////////////////////////
// SignIn
//////////////////////////////////////////////
.opti_account-module .opti_account-submodule-wrapper
{
    @media screen and (orientation:landscape) {
        .opti_account-submodule-container
        {
            width: 100%;
            margin-left: 0;
            padding: 0 12%;
        }   
    }
}

.k-column-list{
    max-height: 130px !important;
}

#opti_QtylevelChildID kendo-grid{
    height: 200px !important;
}

body.opti_body-move-order.opti_account-module .opti_outer-moveorder-form .opti_vertcal-align-outer-box {
    float: left;
}

// grid
.k-grid {
    min-height: 200px !important;
}