
 <!-- loader start -->
 <div class="opti_loader" *ngIf="showLoader">
        <div class="opti_spinner"></div>
    </div>
<!-- loader end -->
<section #qtylevelChild id="opti_QtylevelChildID" style="overflow-x: hidden">
    <div class="container-fluid opti_padding-zero">
        <div class="row">
            <div class="col-md-12">
                <form class="k-form" >
                    <label class="k-form-field ">
                        <span class="opti_form-label">FG Batch Serial <span *ngIf="bIfBatSerEmpty" class="float-right opti_error-msg"> FG Batch/Serial can't be empty </span></span>
                        <span class="float-left opti_fgbatch-serial"><input type="text" class="k-textbox" [(ngModel)]="psBatchSer" (blur)="onBatchSerBlur()" id="psBatchSerID" name ="psBatchSername" [disabled]="bIsInEditMode"></span> 
                        <span class="opti_fgbatch-serial-icon">
                            <img src="assets/images/common/scanner.svg" (click)="onFGScan()" id="FGBatchSerialScan" class="opti_mouse-pointer" width="27px" height="27px">
                        </span>
                        
                    </label>    

                    <label class="k-form-field">
                        <span class="opti_form-label">Qty <span *ngIf="bIfQtyIsZero" class="float-right opti_error-msg"> Quantity can't be blank or zero </span></span>
                        <input type="text" style="text-align: right;" width="50" class="k-textbox" [(ngModel)]="iQty" (blur)="onQtyBlur()" [disabled]="isQtyDisabled" id="iQtyID" name = "iQtyname">
                        
                    </label>

                    <div class="k-form-field">
                        <input type="checkbox" [(ngModel)]="bIsRejected" class="k-checkbox" name="opti_bIsRejectedID" id="opti_bIsRejectedID"  (change)="isCheckBoxChecked($event)">
                        <label class="k-checkbox-label" for="opti_bIsRejectedID">Rejected</label>

                        <input type="checkbox" [(ngModel)]="bIsNC" class="k-checkbox" name="opti_bIsNCID" id="opti_bIsNCID"  (change)="isCheckBoxChecked($event)">
                        <label class="k-checkbox-label" for="opti_bIsNCID">NC Qty</label>
                        <span *ngIf="bothSelectionRestrict" class="float-right opti_error-msg"> FG can either be Rejected or NC </span>
                    </div>
                </form>
            </div>    
        </div>
    </div>        

    <div style="clear: both;">

        <!-- <button  type="button"  (click)="onInsertChildRowPress()" align="middle" class="btn btn-primary">+</button> -->
        
        <kendo-grid 
        [data]="ChildCompGridData" 
        [height]=gridHeight-276
        (remove)="removeHandler($event)"
        (edit)="editHandler($event)"
        [resizable]="false" 
        [pageSize]="50" 
        [pageable]="true" 
        [sortable]="true"  
        [filterable]="false"
        [groupable]="false" 
        >
            <ng-template kendoGridToolbarTemplate>
                <img src="assets/images/common/add.svg" class="opti_mouse-pointer float-right" (click)="showLevelSuperChild()" width="20px" height="20px">
            </ng-template>  

            <kendo-grid-column field="OPTM_SEQ" title="#"  width="100" [hidden]="true"></kendo-grid-column>
            <kendo-grid-column field="OPTM_ITEMCODE" title="Item Code"  width="100"></kendo-grid-column>
            <kendo-grid-column field="ManagedBy" title="Managed By"  width="100" disabled></kendo-grid-column>
            <kendo-grid-column field="OPTM_BTCHSERNO" title="RM Batch/Serial" width="120"></kendo-grid-column>
            <kendo-grid-column field="OPTM_QUANTITY" title="Quatity"  width="60"></kendo-grid-column>
            <kendo-grid-command-column title="Actions" width="120">
                <ng-template kendoGridCellTemplate>
                <button kendoGridEditCommand class="k-primary">Edit</button>
                <button kendoGridRemoveCommand class="k-primary">Delete</button>
                </ng-template>
            </kendo-grid-command-column>
        </kendo-grid>
        <br/>
        <div class="text-left">
            <button align="center" type="button" align="middle" class="k-button k-primary" (click)="onFinalSavePress()" >Save</button>
            <button align="center" type="button" align="middle" class="k-button" (click)="showLevelParent()">Cancel</button>
        </div> 
        
    </div>
</section>

<section #qtylevelSuperchild id="opti_qtylevelSuperchildID">
    <app-fgrmscanchildinputform *ngIf="showFGRMScanChildInsertPopup" (messageEvent)="receiveArrayRMRowData($event)" [detailsOfParentinputFrm]="detailsOfParentToChild" [basicDetailFrmParentInput]="basicDetailsToChildForm" [childGridDataArray]="ChildCompGridData" [rowChildEditFrmParentInpt]="rowDataForChildEdit"></app-fgrmscanchildinputform>
</section>