
<section #qtylevelChild id="opti_QtylevelChildID">
    <div class="container-fluid opti_padding-zero">
        <div class="row">
            <div class="col-md-12">
                <form class="k-form" >
                    <label class="k-form-field opti_fgbatch-serial">
                        <span class="opti_form-label">FG Batch Serial</span>
                        <input   type="text" width="50" class="k-textbox" [(ngModel)]="psBatchSer" (blur)="onBatchSerBlur()"> <img src="assets/images/common/scanner.svg" (click)="onFGScan()" class="opti_mouse-pointer" width="27px" height="27px">
                        <!-- <button type="button"  (click)="onFGScan()" align="middle" class="btn btn-primary">Scan</button> -->
                    </label>

                    <label class="k-form-field">
                        <span class="opti_form-label">Qty</span>
                        <input type="text"  width="50" class="k-textbox" [(ngModel)]="iQty" (blur)="onQtyBlur()" [disabled]="isQtyDisabled">
                    </label>

                    <div class="k-form-field">
                        <!-- <input type="radio" [(ngModel)]="bIsRejected" class="k-radio" name="group" id="opti_bIsRejectedID">
                        <label class="k-radio-label" for="opti_bIsRejectedID">Rejected</label>

                        <input type="radio" [(ngModel)]="bIsNC" class="k-radio" name="group" id="opti_bIsNCID">
                        <label class="k-radio-label" for="opti_bIsNCID">NC Qty</label> -->


                        <input type="radio" name="group" id="radio1" class="k-radio" checked />
                        <label class="k-radio-label" for="radio1">Rejected</label>
                       

                        <input type="radio" name="group" class="k-radio" id="radio3" />
                        <label class="k-radio-label" for="radio3">NC Qty</label>


                        </div>

                    <!-- <label class="k-form-field">
                        
                    </label> -->

                    
                </form>
            </div>    
        </div>
    </div>        

    <div style="clear: both;">

        <!-- <button  type="button"  (click)="onInsertChildRowPress()" align="middle" class="btn btn-primary">+</button> -->
        
        <kendo-grid 
        [data]="ChildCompGridData" 
        [height]=gridHeight-254
        (remove)="removeHandler($event)"
        (edit)="editHandler($event)"
        [resizable]="false" 
        [pageSize]="50" 
        [pageable]="true" 
        [sortable]="true"  
        [filterable]="false"
        [groupable]="false" 
        >
            <ng-template kendoGridToolbarTemplate>
                <img src="assets/images/common/add.svg" class="opti_mouse-pointer float-right" (click)="showLevelSuperChild()" width="20px" height="20px">
            </ng-template>  

            <kendo-grid-column field="OPTM_SEQ" title="#"  width="100"></kendo-grid-column>
            <kendo-grid-column field="OPTM_ITEMCODE" title="Item Code"  width="100"></kendo-grid-column>
            <kendo-grid-column field="ManagedBy" title="Managed By"  width="100" disabled></kendo-grid-column>
            <kendo-grid-column field="OPTM_BTCHSERNO" title="RM Batch/Serial" width="120"></kendo-grid-column>
            <kendo-grid-column field="OPTM_QUANTITY" title="Quatity"  width="60"></kendo-grid-column>
            <!-- <kendo-grid-column field="OPTM_REJECT" title="Reject"  width="80">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <input type="checkbox" disabled [checked]="dataItem.OPTM_REJECT"/>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="OPTM_NC" title="NC"  width="80">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <input type="checkbox" disabled  [checked]="dataItem.OPTM_NC"/>
                </ng-template>
            </kendo-grid-column> -->
            <kendo-grid-command-column title="Actions" width="120">
                <ng-template kendoGridCellTemplate>
                <button kendoGridEditCommand class="k-primary">Edit</button>
                <button kendoGridRemoveCommand class="k-primary">Delete</button>
                </ng-template>
            </kendo-grid-command-column>
        </kendo-grid>
        <br/>
        <div class="text-left">
            <button align="center" type="button" align="middle" class="k-button k-primary" (click)="onFinalSavePress()">Save</button>
            <button align="center" type="button" align="middle" class="k-button" (click)="showLevelParent()">Cancel</button>
        </div> 
        
    </div>
</section>

<section #qtylevelSuperchild id="opti_qtylevelSuperchildID">
    <app-fgrmscanchildinputform (messageEvent)="receiveArrayRMRowData($event)" [detailsOfParentinputFrm]="detailsOfParentToChild" [basicDetailFrmParentInput]="basicDetailsToChildForm"></app-fgrmscanchildinputform>
</section>