
<div class="">

      <label >FG Batch Serial</label>
      <input   type="text" width="50" class="" [(ngModel)]="psBatchSer" (blur)="onBatchSerBlur()">
     
     <button type="button"  (click)="onFGScan()" align="middle" class="btn btn-primary">Scan</button>
     <br>
     <br>
      <label>Qty</label>
      <input type="text"  width="50" class="" [(ngModel)]="iQty" (blur)="onQtyBlur()" [disabled]="isQtyDisabled">
      <br>
      <br><br>
      <label><input type="checkbox" [(ngModel)]="bIsRejected" >Rejected</label>
      <br>
      <label><input type="checkbox" [(ngModel)]="bIsNC" >NC Qty</label>
      <br>
      <br>
    
</div>

<div>
  <div>
    <div class="text-center">
           </div>
      <p></p>
      <button  type="button"  (click)="onInsertChildRowPress()" align="middle" class="btn btn-primary">+</button>
      <kendo-grid [data]="ChildCompGridData" [height]="410"
      (remove)="removeHandler($event)"
      (edit)="editHandler($event)">
        <kendo-grid-column field="OPTM_SEQ" title="#"  width="20">
        </kendo-grid-column>
        <kendo-grid-column field="OPTM_ITEMCODE" title="Item Code"  width="20">
        </kendo-grid-column>
        <kendo-grid-column field="ManagedBy" title="Managed By"  width="20" disabled>
        </kendo-grid-column>
        <kendo-grid-column field="OPTM_BTCHSERNO" title="RM Batch/Serial" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="OPTM_QUANTITY" title="Quatity"  width="60">
        </kendo-grid-column>
        <!-- <kendo-grid-column field="OPTM_REJECT" title="Reject"  width="80">
            <ng-template kendoGridCellTemplate let-dataItem>
                <input type="checkbox" disabled [checked]="dataItem.OPTM_REJECT"/>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="OPTM_NC" title="NC"  width="80">
            <ng-template kendoGridCellTemplate let-dataItem>
                <input type="checkbox" disabled  [checked]="dataItem.OPTM_NC"/>
            </ng-template>
        </kendo-grid-column> -->
        <kendo-grid-command-column title="Actions">
            <ng-template kendoGridCellTemplate>
              <button kendoGridEditCommand class="k-primary">Edit</button>
              <button kendoGridRemoveCommand class="k-primary">Delete</button>
            </ng-template>
          </kendo-grid-command-column>
    </kendo-grid>
    <button align="center" type="button" align="middle" class="btn btn-primary" (click)="onFinalSavePress()">Save</button>
</div>

<app-fgrmscanchildinputform (messageEvent)="receiveArrayRMRowData($event)" [detailsOfParentinputFrm]="detailsOfParentToChild" [basicDetailFrmParentInput]="basicDetailsToChildForm" *ngIf="showFGRMScanChildInsertPopup"></app-fgrmscanchildinputform>