<div class="container">
  <p></p>
  <form>
      <table class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row">Balance Qty</th>
              <td><input type="text" class="form-control" id="txtBalQty" [value]="iBalQty"></td>
            </tr>
            <tr>
              <th scope="row">Accepted Qty</th>
              <td><input type="text" class="form-control" id="txtAcceptedQty" [value]="iAcceptedQty"></td>
              
            </tr>
            <tr>
              <th scope="row">Rejected Qty</th>
              <td><input type="text" class="form-control" id="txtRejectedQty" [value]="iRejectedQty"></td>
            </tr>

            <tr>
                <th scope="row">NC Qty</th>
                <td><input type="text" class="form-control" id="txtNCQty" [value]="iNCQty"></td>
              </tr>

              
          </tbody>
        </table>

        <button type="button" (click)="onOKPress()"  class="btn btn-primary">OK</button>
      </form>
</div>
