@import 'src/assets/css/web/account_module/account';
label.k-form-field {
    clear: both;
}


.opti_workorder-icon,
.opti_operation-icon{
    width: 90px;
    float: left;
}
.opti_work-order, .opti_operation{
    width: calc(100% - 90px);
    input{
        width: 100%;
    }
}

.opti_qty-operation-icon{
    width: 27px;
    float: left;
}
.opti_qty-produced{
    width: calc(100% - 27px);
    input{
        width: 100%;
    }
}

.opti_right-fix-section{
    height: calc(100vh - 65px);
}

.opti_vertcal-align-outer-box{
    display: flex !important;
}

// .opti_date-start-end{
//     width: calc(100% - 27px);
//     .opti_date, input{
//         width: 100%;
//     }
// }

// .opti_date-icon {
//     margin-top: 18px;
// }

.k-form .k-form-field > span:not(.k-widget) {
    padding: 0;
    margin: 0;
}