<app-topbar></app-topbar>

<div id="opti_WrapperID">
    <div id="opti_MoveOrderID">
        <section id="opti_MainContentID" class="opti_account-submodule-wrapper opti_position-relative">
            <!-- banner section -->
            <div class="float-left opti_account-banner-section">
            </div>

            <!-- form section -->
            <div class="float-right opti_account-form-section">
                <div class="opti_outer-moveorder-form opti_account-submodule-container"> 
                    <div class="opti_vertcal-align-outer-box">
                        <div class="panel-body opti_position-relative" [perfectScrollbar]="">
                            <form class="k-form">

                                <div class="text-center">
                                    <h5>Move Order</h5>
                                </div>

                                <label class="k-form-field">
                                    <!--id and name given to DOM element...Ashish Devade-->
                                    <span class="opti_form-label">Work Order </span>
                                    <span class="float-left opti_work-order"><input type="text" id="psWONOid" name="psWONO" class="k-textbox" [(ngModel)]="psWONO" (blur)="onWorkOrderBlur()"></span> 
                                    <span class="opti_workorder-icon">
                                        <img src="assets/images/common/list.svg" (click)="onWOPress()" alt="work order" width="27px" height="27px" />
                                        <img src="assets/images/common/detail.svg" (click)="onWorkOrderDetail(true)" alt="work order setaiol" width="27px" height="27px" style="margin-right: 5px;"/>
                                        <img src="assets/images/common/scanner.svg" width="27px" height="27px" />
                                        <!-- <button type="button" (click)="onWOPress()"  class="">WO#</button>
                                        <button  type="button" align="middle" class="">Scan WO#</button>
                                        <button  type="button"  (click)="onWorkOrderDetail(true)" align="middle" class="">Work Order Detail</button> -->
                                    </span>
                                    

                                    <!-- template -->
                                    <!-- <ng-template #woDetailtemplate>
                                        <div class="modal-header">
                                        <h4 class="modal-title pull-left">Modal</h4>
                                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                        Work Order Details
                                        <app-work-order-detail [workOrderDetail]="selectedWODetail" *ngIf="showWODtPopup"></app-work-order-detail>
                                        </div>
                                    </ng-template> -->

                                </label>

                                <!-- <label for="WorkOrder">WorkOrder</label>
                                <input type="text" class="form-control" id="txtWorkOrder"  [value]="psWONO">
                                <button type="button" (click)="onWOPress()"  class="btn btn-primary">WO#</button>
                                <button  type="button" align="middle" class="btn btn-primary">Scan WO#</button>
                                <button  type="button"  (click)="onWorkOrderDetail(woDetailtemplate)" align="middle" class="btn btn-primary">Work Order Detail</button> -->
                                <!--Modal Body for Work Order Details-->
                                <!-- <ng-template #woDetailtemplate>
                                    <div class="modal-header">
                                    <h4 class="modal-title pull-left">Modal</h4>
                                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                    Work Order Details
                                    <app-work-order-detail [workOrderDetail]="selectedWODetail" *ngIf="showWODtPopup"></app-work-order-detail>
                                    </div>
                                </ng-template> -->
                                
                                <label class="k-form-field">
                                    <span class="opti_form-label">Product Code</span>
                                    <input type="text" class="k-textbox" id="txtProductCode" [value]="psProductCode" [disabled]=true>
                                    
                                </label>

                                <label class="k-form-field">
                                    <span class="opti_form-label">Product Description</span>
                                    <input type="text" class="k-textbox" id="txtProductDesc" [value]="psProductDesc" [disabled]=true>
                                </label>
                                <!-- 
                                <label for="ProductCode">ProductCode</label>
                                <input type="text" class="form-control" id="txtProductCode" [value]="psProductCode"> -->
                                

                                <label class="k-form-field">
								<!--id and name given to DOM element...Ashish Devade-->
                                    <span class="opti_form-label">Operation Number</span>
                                    <span class="float-left opti_operation"><input type="text" class="k-textbox" id="txtOperationNumber" [(ngModel)]="psOperNO" id="psOperNOid" name="psOperNO" (blur)="onOperationNoBlur()"></span>
                                    <span class="opti_operation-icon">
                                        <img src="assets/images/common/list.svg" (click)="onOperationPress()" alt="work order" width="27px" height="27px" />
                                        <img src="assets/images/common/detail.svg" (click)="onOperDtlPress(true)" alt="work order setaiol" width="27px" height="27px" style="margin-right: 5px;"/>
                                        <img src="assets/images/common/scanner.svg" width="27px" height="27px" />
                                    </span>

                                </label>

                                <!-- <label for="OperationNumber">Operation Number</label>
                                <input type="text" class="form-control" id="txtOperationNumber" [value]="psOperNO">

                                <button  type="button"  (click)="onOperationPress()" align="middle" class="btn btn-primary">OP#</button>
                                <button  type="button" align="middle" class="btn btn-primary">Scan OP#</button>
                                <button  type="button"  (click)="onOperDtlPress(woOperDetailtemplate)" align="middle" class="btn btn-primary">Operation Details</button> -->

                                <!--Modal Body for Operation Details-->
                                <!-- <ng-template #woOperDetailtemplate>
                                    <div class="modal-header">
                                    <h4 class="modal-title pull-left">Modal</h4>
                                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                    Operation Details
                                    <app-operational-detail [woOperDetail]="selectedWOOperDetail" *ngIf=showOperDtPopup></app-operational-detail>
                                    </div>
                                </ng-template> -->
                                
                                <label class="k-form-field">
                                    <span class="opti_form-label">Qty Produced</span>
                                    <span class="float-left opti_qty-produced"><input type="text" class="k-textbox" id="txtQtyProduced"></span>
                                    <span class="opti_qty-operation-icon">
                                        <img src="assets/images/common/list.svg" (click)="onQtyProdBtnPress(true)" alt="Quantity" width="27px" height="27px" />
                                    </span>

                                </label>


                                <!-- <label for="QtyProduced">Qty Produced</label>
                                <input type="text" class="form-control" id="txtQtyProduced">
                                <button (click)="openRightSection(true)">Open RIght</button>
                                <button  type="button"  (click)="onQtyProdBtnPress(itemLinkingScreen)" align="middle" class="btn btn-primary">Link</button> -->

                                <!--Modal Body for Dynamic Screens on setting basis-->
                                <!-- <ng-template #itemLinkingScreen>
                                <div class="modal-header">
                                <h4 class="modal-title center-block">{{ScreenName}}</h4>
                                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                <app-qty-without-fgscan *ngIf="showQtyNoScanScreen"></app-qty-without-fgscan> 
                                <app-qty-with-fgscan [basicDetailsFrmMO]="basicDetails" *ngIf="showQtyWithFGScanScreen"></app-qty-with-fgscan>
                                <app-fgrmscanparent [basicDetailsFrmMO]="basicDetails" *ngIf="showQtyWithFGRMScanScreen"></app-fgrmscanparent>
                                </div>
                                </ng-template> -->

                                <label class="k-form-field opti_date-start-end">
                                    
                                        <span class="opti_form-label">Start Date</span>
                                        <input [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12"
                                            [(ngModel)]="selectedMoments"
                                            [selectMode]="'rangeFrom'" name="selectedMoments">
                                        <owl-date-time #dt12></owl-date-time>


                                        <span class="opti_form-label" style="margin-top: 8px;">End Date</span>
                                        <input [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13"
                                            [(ngModel)]="selectedMoments"
                                            [selectMode]="'rangeTo'" name="selectedMoments">
                                        <owl-date-time #dt13></owl-date-time>

                                </label>

                                <button align="center" type="button" align="middle" class="opti_full-width opti_margin-zero opti_fullwidth" (click)="onSubmitPress()">Submit</button>
                            </form>
                            
                        </div>    
                    </div>    
                </div>
            </div>

            <!-- right sidebar section -->
            <div #optirightfixedsection class="opti_right-fix-section opti_position-relative" [perfectScrollbar]="" [ngStyle]="{'display':isFixedRightSection == true ? 'block' : 'none' }">
                <div class="container-fluid"> 
                    <div class="row">
                        <div class="col-md-12">
                            <img src="assets/images/common/back-opposite.svg" (click)="closeRightSection(false)" class="opti_mouse-pointer float-right opti_vertical-align opti_close-icon-right-section" width="20px" height="20px" />

                            <!-- Quantity Screen start -->
                            <div id="opti_QuantityRightSection" [ngStyle]="{'display':isQuantityRightSection == true ? 'block' : 'none' }">
                                <h5 class="modal-title center-block">{{ScreenName}}</h5>
                                <app-qty-without-fgscan *ngIf="showQtyNoScanScreen"></app-qty-without-fgscan> 
                                <app-qty-with-fgscan [basicDetailsFrmMO]="basicDetails" *ngIf="showQtyWithFGScanScreen"></app-qty-with-fgscan>
                                <app-fgrmscanparent [basicDetailsFrmMO]="basicDetails" *ngIf="showQtyWithFGRMScanScreen"></app-fgrmscanparent>
                            </div>    
                            <!-- Quantity Screen end -->

                            <!-- Operation screen start -->
                            <div id="opti_OperationRightSection" [ngStyle]="{'display':isOperationRightSection == true ? 'block' : 'none' }">
                                <h4 class="modal-title pull-left">Operation Details</h4>
                                <app-operational-detail [woOperDetail]="selectedWOOperDetail" *ngIf=showOperDtPopup></app-operational-detail>
                            </div>
                            <!-- Operation screen end -->

                            <!-- Work order detail start -->
                            <div id="opti_WorkOrderRightSection" [ngStyle]="{'display':isWorkOrderRightSection == true ? 'block' : 'none' }">
                                <h4 class="modal-title pull-left">Work Order Details</h4>
                                <app-work-order-detail [workOrderDetail]="selectedWODetail" *ngIf="showWODtPopup"></app-work-order-detail>
                            </div>
                            <!-- work order detail end -->
                        </div>    
                    </div>    
                </div>    
            </div>

        </section>
    </div>

    
</div>




























