 <!-- loader start -->
 <div class="opti_loader" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div>




<!-- loader end -->
<kendo-grid [ngStyle]="setStyles()"
            [kendoGridBinding]="dataBind"
            [scrollable]="'scrollable'"
            [height]="height"
            [selectable]="true"
            [sortable]="{ mode: 'multiple' }"
            [resizable]="false" 
            [pageSize]="10000" 
            [pageable]="true" 
            [filterable]="false"
            [groupable]="false"
            [selectable]="true"           
              >   


            <!-- grid template start -->
                <!-- <ng-template kendoGridToolbarTemplate>
                    <div class="float-right opti_right-top-sec-grid">
                        <form class="k-form opti_common-search-form float-left opti_padding-zero">
                            <label class="k-form-field opti_common-search-label">
                                <input type="text" class="k-textbox" name="searchRequest" />
                                <span class="opti_vertical-align opti_mouse-pointer"><img src="assets/images/common/search-black.svg" class="" alt="Search" width="15" /></span>
                            </label>
                        </form>
                    </div>
                </ng-template> -->
            <!-- grid template start -->

    <kendo-grid-column *ngFor="let col of columns;let i=index" class="opti_{{col.Name}}" field="{{col.Name}}" title="{{col.Name}}"
                       [sortable]="col.CanSort"
                       [hidden]="col.Hidden"
                       [width]="100"> 
                       

        <ng-template  kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <div  (click)="onRowClick($event, rowIndex)" class="gridCell">  
                {{dataItem[col.Name]}}
            </div>
            <!-- <button  (click)="onRowBtnClick($event, rowIndex)" class="gridCell">  
                Select                
            </button> -->
        </ng-template>
    </kendo-grid-column>
	
	</kendo-grid>