#opti_QtyFGScanID{
    margin-top: 20px;
}
.opti_quantity-summary{
    display: flex;
    flex-direction: row-reverse;
    form{
        padding: 0;
    }
}

.k-button{
    margin-top: 10px !important;
}